@import 'colors';
$primary-box-shadow: 0px 4px 8px 0px rgba($color-charcoal, 0.25);
$tooltip-box-shadow: 2px 4px 4px 0px rgba($color-charcoal, 0.1);
$boxShadow--card: 0 2px 4px 0 rgba(58, 71, 78, 0.15);
$boxShadow--tile: 0 0 1px rgba(0, 0, 0, 0.3);
