@import '_colors';

.logo {
  display: flex;
  height: 64px;
  justify-content: center;
  align-items: center;

  &__icon {
    color: #fff;
    font-size: 18px;
  }

  &__text {
    color: #fff;
    margin: 0;
  }
}